body, html {
    height: 100%;
}

.bg {
    background-image: url("/images/compass.jpeg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#branding {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

#branding-subtitle {
    font-family: 'Dancing Script', cursive;
}

#quote {
    background-color: rgba(000, 000, 000, .25);
    margin-top: 10rem;
    text-align: center;
    /* width: 30%; */
}

.quoteSize {
    font-size: 3rem;
}

.quoteCitation {
    color: white; 
    font-size: 1.5rem;
}

.philosophy {
    text-align: center;
}

.expList {

}

.rateList {
    display: flex;
    justify-content: center;
    text-align: start;
}

@media only screen and (max-width: 768px) {

    #quote {
        background-color: rgba(000, 000, 000, .25);
        margin-top: 10rem;
        text-align: center;
        width: 100%;
    }

    .quoteSize {
        font-size: .85rem;
    }

    .quoteCitation {
        font-size: .5rem;
    }

    .smallText {
        text-align: center;
        margin-bottom: 1em;
    }

    iframe {
        width: 100%;
        margin-bottom: 1em;
    }
}

