body, html {
    height: 100%;
}

.bg {
    background-image: url("/images/compass.jpeg");
    height: 30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#branding {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

#branding-subtitle {
    font-family: 'Dancing Script', cursive;
}

#quote {
    background-color: rgba(000, 000, 000, .25);
    margin-top: 10rem;
    text-align: center;
    /* width: 30%; */
}

.quoteSize {
    font-size: 3rem;
}

.quoteCitation {
    color: white; 
    font-size: 1.5rem;
}

.philosophy {
    text-align: center;
}

.rateList {
    display: flex;
    justify-content: center;
    text-align: start;
}

.couchPicture {
    width: 40%;
}

.padR {
    padding-right: 25px;
}

.padL {
    padding-left: 25px;
}

.footer {
    background-color: #c2e8e7;
    height: 15rem;
    padding-top: 2rem;
}

.facebook-logo {
    font-size: 8rem;
}

.logo {
    width: 8rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 15rem;   
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15rem;       
  }

  .footer-contact {
      margin-top: 2rem;
  }

@media only screen and (max-width: 768px) {

    #quote {
        background-color: rgba(000, 000, 000, .25);
        margin-top: 10rem;
        text-align: center;
        width: 100%;
    }

    .quoteSize {
        font-size: .85rem;
    }

    .quoteCitation {
        font-size: .5rem;
    }

    .smallText {
        text-align: center;
        margin-bottom: 1em;
    }

    iframe {
        width: 100%;
        margin-bottom: 1em;
    }

    .couchPicture {
        width: 75%;
    }

    .facebook-logo {
        font-size: 3rem;
    }

    .logo {
        width: 4rem;
        margin-bottom: 1rem;
    }
    
    .footer-contact {
        font-size: small;
        margin-top: 0;
    }

    .bg {
        height: 20rem;
    }

}

