<footer id="footer">

    <div class="footer">

        <div class="container">

            <div class="d-flex">

                <div class="mr-auto">

                    <div>
                        <img src="/images/jasLogo.svg" alt="JAS Counseling Logo" class="logo">
                    </div>

                </div>

                <div class="ml-auto">
                
                    <div class="footer-contact container">

                        <div class="d-flex">
                            <i class="fas fa-map-marker-alt"></i>
                            <a href="https://goo.gl/maps/gas49xLwJ5CNe4vRA" target="_blank" style="margin-left: 1rem;">The Halo Project E Memorial Rd. Suite 500 Oklahoma City, OK 73114</a>
                        </div>
                        <div class="d-flex">
                            <i class="fas fa-mobile-alt"></i>
                            <a href="tel:+1-405-657-5799" style="margin-left: 1rem;">405-657-5799</a>
                        </div>
                        <div class="d-flex">
                            <i class="fas fa-at"></i>
                            <a href="mailto:jessica@jascounseling.com" style="margin-left: 1rem;">jessica@jascounseling.com</a>
                        </div>
                        <div class="d-flex">
                            <i class="fab fa-facebook-square" style="color: blue;"></i>
                            <a href="https://www.facebook.com/jessicastoopslpc/" style="margin-left: 1rem;" target="_blank">JAS Counseling Facebook</a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</footer>