<%- include('./inc/nav') %>

<hr style="width: 80%;">

<div class="text-center mt-5">
    <h1>About Me</h1>
</div>

<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-md-12 col-lg-6 text-center">

            <img src="/images/JessicaStanding.png" alt="Jessica Stoops" style="width: 90%;">

        </div>

        <div class="flex-column justify-content-center col-md-12 col-lg-6">

            <p>I enjoy learning and have completed several trainings and have completion certificates for trainings such as Gottman Level 1, Dialectic Behavioral Therapy, Internal Family Systems Theory, Art Therapy, and training working with grief. I have also completed a year-long course of Foundations of Psychoanalytic Thought through the Oklahoma Society for Psychoanalytic Studies and I am currently in my second year of this course. I am a “Making Sense of your Past Worth” facilitator and a TBRI practitioner.</p>

            <p>I have previously worked in community mental health, inpatient, and non-profit settings. I previously served as the Sexual Assault Crisis Counselor for a domestic violence shelter where I saw individuals for therapy and group therapy. I co-lead their first group for survivors of Intimate Partner Sexual Violence. In addition to this group, I have also facilitated groups for sexual assault survivors, domestic violence survivors, individuals struggling with depression, and a group for individuals struggling with trauma and unsafe coping skills. I began working in the helping field before becoming a therapist. I began in this field working at a child advocacy center as a family advocate and forensic interviewer. I have a passion for helping those in need and giving them space to have a voice and to be valued for being their true self.</p>

            <div class="text-center">
                <img src="/images/tbri.jpg" alt="">
            </div>

        </div>

    </div>

</div>

