<%- include('./inc/nav') %>

<hr style="width: 80%;">

<div class="container mt-5 mb-5">

    <div class="container text-center">

        <h3><strong>How do we get started?</strong></h3>

    </div>

    <div class="d-flex justify-content-around">

        <div class="container text-center">
            <img src="/images/leaf.jpeg" alt="Leaf" class="mt-3 w-75">
        </div>

        <div class="container text-center">
            <p>I often get the question, “how do I start counseling?”, which is a great question! The first step to starting therapy is to reach out. Typically, it’s easier to contact me through email and then we can set up a time to call, so we don’t get into the struggle of phone tag. Setting up a phone call before an appointment allows us to identify if your needs falls within my scope of practice and to answer any questions you may have. If for any reason, we find that we are not a good fit, I am happy to help you find another qualified therapist that is better suited for your needs. If we decide that we want to move forward, we will find a time for us to meet, and I will send over some paperwork for you to fill out prior to our meeting (this allows us to spend more time getting to know one another rather than spending time filling out forms).</p>

            <p>Also, if you see that I am not accepting new clients, please still reach out as I am always happy to help you find someone who is! Starting the process of healing, growing, and self-discovery can be daunting at times, but you don’t have to go through this alone. I have colleagues who have a variety of specialties and I’m apart of several therapist groups that allows me to help you find a good fit!</p> 
        </div>

    </div>

</div>