<%- include('./inc/nav') %>

<div class="text-center mt-5 mb-5">
    <h1>Contact Me</h1>
</div>

<div class="container">
    <div class="row">
        <div class="container-fluid col-lg-6 col-md-12">
        <h3 class="smallText">Contact Information</h3>
        <p>
            The Halo Project <br>
            401 E Memorial Rd. Suite 500 <br>
            Oklahoma City, OK 73114 <br>
        </p>
            <p>Email: <a href="mailto:jessica@jascounseling.com">jessica@jascounseling.com</a> <br>Phone Number: <a href="tel:+1-405-657-5799">405-657-5799</a></p>
            <p>If you are seeking support from therapy, please email me so we can set up a time to have a brief phone conversation to see if I would be a good fit for you. If for any reason I am unable to help, I am happy to provide referrals to a trusted colleagues. I typically reply to emails or calls by the end of the next business day. If this is an emergency, please call 911 or go to your nearest emergency room.</p>
        </div>

        <div class="container-fluid col-lg-6 col-md-12">
            <iframe width="600" height="450" src="https://maps.google.com/maps?width=450&amp;height=600&amp;hl=en&amp;q=401%20E%20Memorial%20Rd.%20Suite%20500%20Oklahoma%20City%2C%20OK%2073114+(The%20Halo%20Project)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">find my coordinates</a></iframe>
        </div>
    </div>
</div>