<%- include('./inc/nav') %>

<hr style="width: 80%;">

<div class="container mt-5 mb-5">

    <div class="row">

    <div class="container col-md-12 col-lg-6">
        <img src="/images/JessicaChair.png" alt="Jessica's Office Chair" style="width: 18rem;">
    </div>

    <div class="container col-md-12 col-lg-6">

        <div class="flex-column justify-content-around text-center container">

            <h3>Education</h3>

            <div class="rateList">

                <ul class="mt-3">
                    <li>Master of Art in Counseling Psychology (2016) – Southern Nazarene University</li>
                    <li>Bachelor of Art in Sociology and Human Services (2014) – University of Central Oklahoma</li>
                    <li>Associate of Art in Sociology (2012) – Northeastern Oklahoma A&M College</li>
                </ul>
                
            </div>

            <h3>Memberships</h3>

            <div class="rateList">

                <ul class="mt-3">
                    <li>Currently serving on the Board of the Oklahoma Society for Psychoanalytic Studies</li>
                    <li>Member of the Oklahoma Counseling Association​</li>
                </ul>

            </div>

        </div>

    </div>

    </div>

</div>