<%- include('./inc/nav') %>

<hr style="width: 80%;">

<div class="container mt-5">

    <div class="flex-column justify-content-around">

        <div class="flex-column text-center align-items-center">

            <h3>Education</h3>

            <ul id="list" class="mt-3">
                <li>Master of Art in Counseling Psychology (2016) – Southern Nazarene University</li>
                <li>Bachelor of Art in Sociology and Human Services (2014) – University of Central Oklahoma</li>
                <li>Associate of Art in Sociology (2012) – Northeastern Oklahoma A&M College</li>
            </ul>

        </div>

        <div class="flex-column text-center align-items-center">

            <h3>Memberships</h3>

            <ul id="list" class="mt-3">
                <li>Currently serving on the Board of the Oklahoma Society for Psychoanalytic Studies</li>
                <li>Member of the Oklahoma Counseling Association​</li>
            </ul>

        </div>

    </div>

</div>





