<style>
    body, html {
        height: 100%;
    }

    .bg {
        background-image: url("/images/compass.jpeg");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<%- include('./inc/nav') %>

<div class="bg">

    <div class="d-flex flex-column align-items-center">
        <div id="quote">
        <blockquote class="blockquote text-center" style="color: white;">
            <p class="mb-0 quoteSize">"The privilege of a lifetime is to become who you truly are"</p>
            <footer class="blockquote-footer quoteCitation"><cite title="">Carl Jung</cite></footer>
        </blockquote>       
        </div>
    </div>

</div>

<div class="text-center mt-5">
    <h1>Welcome!</h1>
</div>

<div class="container mt-5 mb-5">

    <div class="row">

        <div class="container-fluid col-lg-6 col-md-12 smallText">
            <h3><strong>I’m so glad you are here.</strong></h3>
            <img src="/images/jessicaPicture.jpg" alt="Jessica Stoops" class="mt-3">
        </div>

        <div class="container-fluid col-lg-6 col-md-12">
            <p>Life can be challenging at times and sometimes it can feel as if you are drowning within your emotions. Making the decision to come to counseling may be a challenging one but I believe that we all deserve a safe place to begin to heal. You do not have to go through this alone. If you are considering counseling for you or for someone you know, please reach out. One of my values is helping others and so my goal is for you to feel understood and for you to get the care and support you need. My aim is to begin working with you as soon as possible or help you find a referral for someone who may be a better fit. If you find yourself in an emergency situation, crisis, or need immediate assistance, please call 911 or go to your nearest emergency room. For additional resources, you can also reach out to the national suicide hotline number at 1-800-273-8255 or call the Safeline hotline (for domestic violence, sexual assault, or stalking) at 1-800-522-7233(SAFE).</p>

            <p>Hope to hear from you soon,</p> 
                
            <p>Jessica</p>
        </div>

    </div>

</div>